.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.search_input {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 160px;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 24px;
    transition: 0.4s ease;
    width: 300px;
    text-align: center;
}

.search_input:focus {
    outline: none;
    border-radius: 7px;
    background: #ffffff;
    box-shadow:  2px 2px 6px #8f8f8f,
             -2px -2px 6px #ffffff;
  }

.bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-size: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .bn29:hover:before {
    width: 115%;
    height: 115%;
  }

